*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	border: 0;
	margin: 0;

	font-family: 'Montserrat', sans-serif;
}

:root {
	--dark-cyan: hsl(158, 36%, 37%);
	--cream: hsl(30, 38%, 92%);
	--very-dark-blue: hsl(212, 21%, 14%);
	--dark-grayish-blue: hsl(228, 12%, 48%);
	--white: hsl(0, 0%, 100%);
	--font-size: 14px;

	--mobile-card-width: 340px;
	--desktop-card-width: 580px;
}

html,
body {
	height: 100%;
}

img {
	width: 100%;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--cream);
}

.card {
	display: grid;
	overflow: hidden;
	width: var(--desktop-card-width);
	height: auto;
	border-radius: 10px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
}

.card > picture {
	display: block;

	& img {
		display: block;
		height: 100%;
		object-fit: cover;
	}
}

.card > .card-info {
	padding: 32px;
	background-color: var(--white);
}

.card-info > :nth-child(1) {
	display: block;
	margin-bottom: 20px;
	color: var(--dark-grayish-blue);
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 5px;
	text-transform: uppercase;
}

.card-info > h2 {
	margin-bottom: 25px;
	color: var(--very-dark-blue);
	font-family: 'Fraunces', sans-serif;
	font-size: 32px;
	font-weight: 700;
	line-height: 100%;
}

.card-info > p {
	color: var(--dark-grayish-blue);
	font-size: 14px;
	font-weight: 500;
	line-height: 165%;
	margin-block-end: 25px;
}

.prices {
	display: flex;
	align-items: center;
	gap: 20px;
}

.prices {
	margin-block-end: 25px;
}

.prices > :nth-child(1) {
	color: var(--dark-cyan);
	font-family: 'Fraunces', sans-serif;
	font-size: 32px;
	font-weight: 700;
}
.prices > :nth-child(2) {
	color: var(--dark-grayish-blue);
	font-size: 13px;
	font-weight: 500;
	text-decoration: line-through;
}

.card-info > button {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	padding: 15px 0;
	border-radius: 10px;
	background-color: var(--dark-cyan);
	gap: 10px;
}

.card-info > button:hover {
	cursor: pointer;
	filter: brightness(85%);
}

.card-info > button > *:nth-child(1) {
	width: 15px;
}

.card-info > button > *:nth-child(2) {
	margin: 0;
	color: var(--white);
	font-size: 14px;
	font-weight: 600;
}

@media (max-width: 1000px) {
	.card {
		width: var(--mobile-card-width);
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr;
	}

	.card > .card-info {
		padding: 23px;
	}

	.card-info > :first-child {
		margin-block-end: 14px;
	}

	.card-info > h2 {
		margin-block-end: 16px;
	}

	.card-info > p {
		margin-block-end: 20px;
	}

	.prices {
		gap: 18px;
	}

	.card-info .prices {
		margin-block-end: 16px;
	}
}
