:root {
	--tomato: hsl(4, 100%, 67%);
	--dark-slate-gray: hsl(234, 29%, 20%);
	--charcoal-grey: hsl(235, 18%, 26%);
	--grey: hsl(231, 7%, 60%);
	--white: hsl(0, 0%, 100%);
	--body-font-size: 16px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	border: 0;
	margin: 0;
	font-family: 'Roboto', sans;
}

html,
body {
	height: 100%;
	background-color: var(--charcoal-grey);
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
}

img {
	width: 100%;
	height: auto;
}

h1 {
	color: var(--dark-slate-gray);
	line-height: 110%;
	margin-block-end: 25px;
}

p {
	color: var(--dark-slate-gray);
	line-height: 150%;
}

a,
a:visited,
a:hover,
a:active {
	color: var(--dark-slate-gray);
	font-weight: 700;
	text-decoration: none;
}

.card {
	display: flex;
	border-radius: 30px;
	background-color: var(--white);
	box-shadow: 2px 2px 4px var(--charcoal-grey);
}

.card-stay-updated {
	width: 925px;
	height: 635px;

	padding: 20px;
}

.card-left {
	margin-block-start: 70px;
	margin-inline: 45px;
	margin-inline-end: 50px;
}

.card-left > h1 {
	font-size: 3.25rem;
}

.card-left > p {
	margin-block-end: 20px;
}

.card-left > ul {
	margin-block-end: 35px;
}

.card-left li {
	background: url('./assets/images/icon-list.svg') left center no-repeat;
	line-height: 200%;
	list-style-type: none;
	padding-inline-start: 37px;

	&:not(:last-child) {
		margin-block-end: 3px;
	}
}

.card-left label {
	color: var(--dark-slate-gray);
	font-size: 0.625rem;
	font-weight: 700;
}

.card-left input {
	width: 100%;
	padding: 16px;
	border: 1px solid var(--grey);
	border-radius: 7px;
	color: var(--white);
	font-size: 1rem;
	margin-block-end: 20px;
	margin-block-start: 7px;
}

.card-left button {
	width: 100%;
	border-radius: 10px;
	background-color: var(--dark-slate-gray);
	color: var(--white);
	cursor: pointer;
	font-size: 1rem;
	font-weight: 700;
	padding-block: 20px;
}

.card-right img {
	width: 400px;
}

.card-thanks-for-subscribing {
	width: 460px;
	padding: 50px;
	color: var(--grey);

	& img {
		width: 50px;
		margin-block-end: 20px;
	}

	& p {
		margin-block-end: 30px;
	}

	& > button {
		width: 100%;
		border-radius: 10px;
		background-color: var(--dark-slate-gray);
		color: var(--white);
		padding-block: 20px;
	}
}

@media (max-width: 1200px) {
	.card {
		overflow: hidden;
		width: 100%;
		height: auto;
		flex-direction: column-reverse;
		padding: 0;
		border-radius: 15px;
	}

	.card .card-left {
		margin-block-start: 35px;
	}

	.card .card-left h1 {
		font-size: 2.5rem;
	}

	.card-thanks-for-subscribing {
		padding: 50px;
	}
}
